.tools {
    opacity: 0.9;
    display: grid;
    grid-gap: 5px;
    width: 100%;
    height: 100%;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: 40px min-content;
    grid-template-areas: "g g g g"
                         "a a a a"
                         "b b b b"
                         "c c c c";
}

.root {
    opacity: 0.9;
    display: grid;
    grid-gap: 5px;
    width: 100%;
    height: 100%;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: 40px min-content;
    grid-template-areas: "g g g g"
                         "a a a a"
                         "b b b b"
                         "c c c c";
}

.Node_Builder {
    opacity: 0.9;
    display: grid;
    grid-gap: 5px;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px min-content;
    grid-template-areas: "g g g g"
                         "a a a a"
                         "b b b b"
                         "c c c c";
}

.Node_Schemas_Builder {
    opacity: 0.9;
    display: grid;
    grid-gap: 5px;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px min-content;
    grid-template-areas: "g g g g"
                         "a a a a"
                         "b b b b"
                         "c c c c";
}

.user {
    opacity: 0.9;
    display: grid;
    grid-gap: 5px;
    width: 100%;
    height: 100%;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: 40px min-content;
    grid-template-areas: "g g g g"
                         "a a a a"
                         "b b b b"
                         "c c c c"
                         "d d d d";
}

.tab_1 {
    grid-area: a;
    padding: 1em;
}

.tab_2 {
    grid-area: b;
    padding: 1em;
}

.tab_3 {
    grid-area: c;
    padding: 1em;
}

.tab_4 {
    grid-area: d;
    padding: 1em;
}

.tab_5 {
    grid-area: e;
    padding: 1em;
}

.tab_6 {
    grid-area: f;
    padding: 1em;
}

.tab_h {
    grid-area: h;
    padding: 1em;
}

.PageStructureContainer{
    margin-top: 60px;
}

.PageStructureContainer h2{
    margin-top: 60px;
    color: #fff;
}